$mobile: 480px;
$desktop: 1280px;
.nav-container {
  background-color: #fcfbfb;
  z-index: 10;
  position: fixed;
  top: 0;
  color: #282c34;
  width: 100%;
  padding: 1.5vw 10vw;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s all;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 28px;
    font-weight: bold;

    @media screen and (max-width: $mobile) {
      margin-bottom: 2vh;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;

    @media screen and (max-width: $mobile) {
      display: block;
    }
  }

  .navigation {
    display: flex;
    gap: 3vw;
    align-items: center;
    transition: 0.1s all;

    @media screen and (max-width: $mobile) {
      display: none;
    }

    p {
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: rgb(0, 102, 255);
      }
    }

    .sign-in {
      padding: 0.4vw 1.7vw;
      background-color: rgb(0, 102, 255);
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      font-size: 17px;

      &:hover {
        background-color: rgb(4, 47, 112);
      }
    }
    @media screen and (max-width: $mobile) {
      display: none;
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: $desktop) {
      display: flex;
    }
  }

  .show-nav {
    @media screen and (max-width: $mobile) {
      display: block;
    }
    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}
